[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

numpy = "*"
pandas = "*"
pyarrow = "*"
ipython = "*"
pyreadline = "*"
scipy = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "*"
requests = "*"


[dev-packages]