[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

numpy = "*"
pandas = "*"
pyarrow = "*"
ipython = "*"
# Completion support in iPython
pyreadline = "*"


[dev-packages]
